
<!--  


<servlet>
    <servlet-name>file</servlet-name>
    <jsp-file>/filesubmit.jsp</jsp-file>
    <multipart-config>
        <location>/tmp</location> 
        <max-file-size>10485760</max-file-size> 
        <max-request-size>52428800</max-request-size> 
        <file-size-threshold>2097152</file-size-threshold> 
    </multipart-config>
</servlet>



<servlet-mapping>
    <servlet-name>file</servlet-name>
    <url-pattern>/filesubmit.jsp</url-pattern>
</servlet-mapping>


-->
